.list {
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;

  background-color: #F2F2F2;
  margin-right: 1em;
  min-width: 14em;
  max-width: 14em;
  border-radius: 0.4em;
  height: fit-content;
}

list:last-child {
  margin-right: 1em;
}

.list-centralized {
  padding: 1em 0.6em;
}

.list-title {
  display: grid;
  grid-template-areas:
    "blank blank blank blank"
    "text text text icon";

  font-weight: bold;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  user-select: none;
}

.list-title-text {
  grid-area: text;
}

.list-title-input {
  background: #F2F2F2;
  font-weight: bold;
  border: none;
  font-size: inherit;
  max-width: 11em;
  padding: 0;
}

.list-title-icon {
  grid-area: icon;
  justify-self: right;
}

.list-title-icon-right {
  margin-right: 1.5em;
}

.list-add-card-button {
  display: grid;
  grid-template-areas:
    "blank blank blank blank"
    "icon text text text";

  user-select: none;

  height: 2em;
  padding-left: 2em;

  background: #A6DB6D;
  border-radius: 0 0 0.4em 0.4em;
}

.list-add-card-button-icon {
  grid-area: icon;
}

.list-add-card-button-text {
  grid-area: text;
}
