.board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: #3f9cff; }

.board-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  background: #f0f0f0;
  padding: 1em 1em 1em 1.5em;
  user-select: none; }

.board-header-title {
  margin-top: 0.5em;
  font-weight: bold; }

.board-header-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-self: right;
  background: #A6DB6D;
  border-radius: 0.5em;
  padding: 0.2em 0.5em; }

.board-header-button-text {
  margin: 0.3em; }

.board-lists {
  grid-area: lists;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  overflow-x: auto; }
