.card {
  display: grid;
  border-radius: 0.4em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 1em;
  background: White;
  user-select: none; }

.card-grid {
  grid-template-areas: "tag-list tag-list tag-list" "title title title " "date blank priority"; }

.card-title {
  grid-area: title;
  margin: 0 0.5em 0.5em 0.5em; }

.card-tag-list {
  grid-area: tag-list;
  display: inline-flex;
  flex-flow: row wrap; }

.card-tag {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin: 0 0 0.5em 0.5em;
  background-color: LightGray;
  font-size: 0.8em; }

.card-tag:last-child {
  margin-right: 0.5em; }

.card-priority {
  grid-area: priority;
  justify-self: right;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  background-color: LightGray;
  font-size: 0.7em; }

.card-date {
  grid-area: date;
  margin: 0 0.5em 0.5em 0.5em;
  font-size: 0.7em; }

.card-tag-edit {
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin: 0 0 0.5em 0.5em;
  background-color: LightGray;
  font-size: 0.8em; }
