.card-grid-edit {
  grid-template-areas: "tag-list   tag-list   tag-list   add-tag" "title-edit title-edit title-edit title-edit" "priority  priority   priority     priority" "date       date       date       date" "delete      blank      blank      buttons"; }

.card-add-tag-button {
  grid-area: add-tag;
  justify-self: right;
  border-radius: 1em;
  margin-right: 0.5em;
  font-size: 1em; }

.card-title-edit {
  grid-area: title-edit;
  margin: 0.25em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  border: none; }

.card-priority-edit {
  grid-area: priority;
  margin: 0.25em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  border: none; }

.card-date-edit {
  grid-area: date;
  margin: 0.25em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  border: none; }

.card-button-save {
  grid-area: buttons;
  padding: 0.4em;
  font-size: 1em;
  justify-self: left; }

.card-button-cancel {
  grid-area: buttons;
  padding: 0.4em;
  margin-left: 1.5em;
  font-size: 1em;
  text-align: right; }

.card-button-delete {
  grid-area: delete;
  padding: 0.4em;
  font-size: 1em;
  text-align: left; }
