@import "../base/variables.scss";

.board-list-wrapper{
  display: grid;
  grid-template-areas:
    "header"
    "boards"
    "boards"
    "boards"
    "boards";
  width: 100vw;
  height: 100vh;
}

.board-list-header {
  grid-area: header;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D1345B;
  padding: 0.5em;
}

.board-list-header-title {
  margin-left: 0.5em;

  font-family: $font-family-app-title;
  font-size: 3em;
}

.board-list-menu-item {
  margin: 0.5em;
  width: auto;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #06CDE8;
  border-radius: 0.5em;
  padding: 0 0.5em;
  color: #4f4f4f;
}

.board-list-list {
  grid-area: boards;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  overflow-x: auto;
  background-color: #F9F5E8;

  font-family: 'Noto Sans', sans-serif;
}

.board-list-item {
  width: 12em;
  min-width: 12em;
  max-width: 12em;
  min-height: 6em;
  max-height: 6em;
  height: auto;
  border-radius: 0.4em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  background-color: #06CDE8;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.board-list-link {
  text-decoration: none;
}

.board-list-edit {
  width: 12em;
  min-width: 12em;
  max-width: 12em;
  min-height: 6em;
  max-height: 6em;
  height: auto;
  border-radius: 0.4em;
  margin-right: 1em;
  background-color: #06CDE8;
  color: #4f4f4f;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.board-list-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.board-item-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}