@import "../base/variables.scss";

.login-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "form"
    "form";
  width: 100vw;
  height: 100vh;
}

.login-header {
  grid-area: header;
  display: flex;

  padding: 0.5em;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.login-title {
  margin-left: 0.5em;

  font-family: $font-family-app-title;
  font-size: 3.5em;
}

.login-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  input {
    max-width: 50vw;
    margin-bottom: 0.5em;
  }

  .login-link {
    margin-top: 1em;

  }
}
