html {
  height: 100%;
  width: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%; }

div#root {
  width: 100%; }

.App {
  height: 100%;
  width: 100%;
  overflow-x: auto; }

.card {
  display: grid;
  border-radius: 0.4em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 1em;
  background: White;
  user-select: none; }

.card-grid {
  grid-template-areas: "tag-list tag-list tag-list" "title title title " "date blank priority"; }

.card-title {
  grid-area: title;
  margin: 0 0.5em 0.5em 0.5em; }

.card-tag-list {
  grid-area: tag-list;
  display: inline-flex;
  flex-flow: row wrap; }

.card-tag {
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin: 0 0 0.5em 0.5em;
  background-color: LightGray;
  font-size: 0.8em; }

.card-tag:last-child {
  margin-right: 0.5em; }

.card-priority {
  grid-area: priority;
  justify-self: right;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  background-color: LightGray;
  font-size: 0.7em; }

.card-date {
  grid-area: date;
  margin: 0 0.5em 0.5em 0.5em;
  font-size: 0.7em; }

.card-tag-edit {
  display: flex;
  flex-direction: row;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  margin: 0 0 0.5em 0.5em;
  background-color: LightGray;
  font-size: 0.8em; }

.board {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: #3f9cff; }

.board-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  background: #f0f0f0;
  padding: 1em 1em 1em 1.5em;
  user-select: none; }

.board-header-title {
  margin-top: 0.5em;
  font-weight: bold; }

.board-header-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-self: right;
  background: #A6DB6D;
  border-radius: 0.5em;
  padding: 0.2em 0.5em; }

.board-header-button-text {
  margin: 0.3em; }

.board-lists {
  grid-area: lists;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  padding: 1em;
  overflow-x: auto; }

.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #F2F2F2;
  margin-right: 1em;
  min-width: 14em;
  max-width: 14em;
  border-radius: 0.4em;
  height: fit-content; }

list:last-child {
  margin-right: 1em; }

.list-centralized {
  padding: 1em 0.6em; }

.list-title {
  display: grid;
  grid-template-areas: "blank blank blank blank" "text text text icon";
  font-weight: bold;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  user-select: none; }

.list-title-text {
  grid-area: text; }

.list-title-input {
  background: #F2F2F2;
  font-weight: bold;
  border: none;
  font-size: inherit;
  max-width: 11em;
  padding: 0; }

.list-title-icon {
  grid-area: icon;
  justify-self: right; }

.list-title-icon-right {
  margin-right: 1.5em; }

.list-add-card-button {
  display: grid;
  grid-template-areas: "blank blank blank blank" "icon text text text";
  user-select: none;
  height: 2em;
  padding-left: 2em;
  background: #A6DB6D;
  border-radius: 0 0 0.4em 0.4em; }

.list-add-card-button-icon {
  grid-area: icon; }

.list-add-card-button-text {
  grid-area: text; }

.card-grid-edit {
  grid-template-areas: "tag-list   tag-list   tag-list   add-tag" "title-edit title-edit title-edit title-edit" "priority  priority   priority     priority" "date       date       date       date" "delete      blank      blank      buttons"; }

.card-add-tag-button {
  grid-area: add-tag;
  justify-self: right;
  border-radius: 1em;
  margin-right: 0.5em;
  font-size: 1em; }

.card-title-edit {
  grid-area: title-edit;
  margin: 0.25em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  border: none; }

.card-priority-edit {
  grid-area: priority;
  margin: 0.25em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  border: none; }

.card-date-edit {
  grid-area: date;
  margin: 0.25em 0.5em 0.5em 0.5em;
  padding: 0.5em;
  border: none; }

.card-button-save {
  grid-area: buttons;
  padding: 0.4em;
  font-size: 1em;
  justify-self: left; }

.card-button-cancel {
  grid-area: buttons;
  padding: 0.4em;
  margin-left: 1.5em;
  font-size: 1em;
  text-align: right; }

.card-button-delete {
  grid-area: delete;
  padding: 0.4em;
  font-size: 1em;
  text-align: left; }

.board-list-wrapper {
  display: grid;
  grid-template-areas: "header" "boards" "boards" "boards" "boards";
  width: 100vw;
  height: 100vh; }

.board-list-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D1345B;
  padding: 0.5em; }

.board-list-header-title {
  margin-left: 0.5em;
  font-family: "Pacifico", cursive;
  font-size: 3em; }

.board-list-menu-item {
  margin: 0.5em;
  width: auto;
  height: 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #06CDE8;
  border-radius: 0.5em;
  padding: 0 0.5em;
  color: #4f4f4f; }

.board-list-list {
  grid-area: boards;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  overflow-x: auto;
  background-color: #F9F5E8;
  font-family: 'Noto Sans', sans-serif; }

.board-list-item {
  width: 12em;
  min-width: 12em;
  max-width: 12em;
  min-height: 6em;
  max-height: 6em;
  height: auto;
  border-radius: 0.4em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  background-color: #06CDE8;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center; }

.board-list-link {
  text-decoration: none; }

.board-list-edit {
  width: 12em;
  min-width: 12em;
  max-width: 12em;
  min-height: 6em;
  max-height: 6em;
  height: auto;
  border-radius: 0.4em;
  margin-right: 1em;
  background-color: #06CDE8;
  color: #4f4f4f;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }

.board-list-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.board-item-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.login-wrapper {
  display: grid;
  grid-template-areas: "header" "form" "form";
  width: 100vw;
  height: 100vh; }

.login-header {
  grid-area: header;
  display: flex;
  padding: 0.5em;
  align-items: center;
  align-content: center;
  justify-content: center; }

.login-title {
  margin-left: 0.5em;
  font-family: "Pacifico", cursive;
  font-size: 3.5em; }

.login-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center; }
  .login-form input {
    max-width: 50vw;
    margin-bottom: 0.5em; }
  .login-form .login-link {
    margin-top: 1em; }

.signup-wrapper {
  display: grid;
  grid-template-areas: "header" "form" "form";
  width: 100vw;
  height: 100vh; }

.signup-header {
  grid-area: header;
  display: flex;
  padding: 0.5em;
  align-items: center;
  align-content: center;
  justify-content: center; }

.signup-title {
  margin-left: 0.5em;
  font-family: "Pacifico", cursive;
  font-size: 3.5em; }

.signup-form {
  grid-area: form;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start; }
  .signup-form input {
    max-width: 50vw;
    margin-bottom: 0.5em; }
  .signup-form .signup-link {
    margin-top: 1em; }
