@import "variables.scss";

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family;
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
}

div#root {
  width: 100%;
}

.App {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}
